---
import App from '../layouts/App.astro';
---
<App title="PayPal">
  <div class="container" style="text-align:center; padding-top:4rem;">
    <h1 style="font-size:2.2rem;">
      <svg width="40" height="40" viewBox="0 0 28 28" fill="none" style="vertical-align:middle; margin-right:0.4rem;" aria-hidden="true">
        <path d="M7 4h7.2c3.6 0 5.8 1.6 5.8 4.7 0 2.4-1.5 3.9-3.7 4.3 2 .3 3.7 1.6 3.7 4.2 0 3.3-2.6 4.8-6.3 4.8H7V4z" fill="#253b80"/>
        <path d="M7 4h7.2c3.6 0 5.8 1.6 5.8 4.7 0 2.4-1.5 3.9-3.7 4.3 2 .3 3.7 1.6 3.7 4.2 0 3.3-2.6 4.8-6.3 4.8H7V4z" fill="#179bd7" transform="translate(2.5 1.5)" opacity="0.85"/>
      </svg>
      PayPal
    </h1>
    <p class="muted" style="margin-bottom:2rem;">A local demo wallet inspired by PayPal.</p>
    <div class="row" style="justify-content:center;">
      <a class="btn" href="/login">Log in</a>
      <a class="btn secondary" href="/signup">Sign up</a>
    </div>
  </div>
  <script>
    import { seedDemo, getCurrentUser } from '../lib/wallet';
    seedDemo();
    if (getCurrentUser()) window.location.href = '/dashboard';
  </script>
</App>
